@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: Alata;
 }
nav{
    width: 100%;
    background-color:#db6247;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    font-size: 5px;
    list-style: none;
    
}

h1{
  top: 20;
}
nav ul{
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    padding-top: 20px;
    margin-right: 30px;
    list-style: none;
    text-decoration: none;

}
nav a{
    font-family: Alata, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 20px;
    color:white;
    font-size: 16pt;
    text-decoration: none;
}
nav a:hover{
    color : black;
}
#logo{
    width: 130px;
    height: 65px;
    margin-right: 170px;
}
#sobreLoja{
    margin-left: 100px;
    margin-right: 100px;
}
#sobreGen{
    margin-right: 100px;
    margin-left: 100px;
 }

 #container-sobreGen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 } 
 #texto-sobreGen{
    margin-right: 10px;
    font-family: Alata, Arial, Helvetica, sans-serif;
    font-size: 10pt;
 }
 h1{
    font-family: Alata, Arial, Helvetica, sans-serif;
    font-size: 20pt;
 }
 #img-react{
    width: 400px;
    height: 300px;
 }
 
 #container-sobreCurso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Alata, Arial, Helvetica, sans-serif;

 }
 #alinharTexto{
     padding-left: 100px;
 }
 #alinharTexto2{
    text-align: center;
    margin-top: 50px;
}
 .card-deck{
    padding: 150px;
 }
 #container-form{
    padding: 150px;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: white;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: white;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
    color: white;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
.form-footer input[type="button"] {
border: none;
background:white;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
    color: white;
font-size: 22px;
padding: 10px 15px;
background: white;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: white;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: black;

}
.logo-part {
border-right: 1px solid white;
height: 100%;
}
.bg-grey {
    background: #db6247;
 }

#carouselExampleIndicators{
    padding: 150px;

 }

.color{
    background-color: #d45f68;
    
}
#container-form{
    margin-top: 5;
}
